<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DentistApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47E5DD3D2491EA6500C8197B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47E5DD532491EA6800C8197B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47E5DD5E2491EA6800C8197B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
